@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Oswald);

@-moz-keyframes enter {
  0% {
    -webkit-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -moz-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -o-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -ms-transform: scale(0.1) translate3d(1000px, -500px, 0);
    transform: scale(0.1) translate3d(1000px, -500px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes enter {
  0% {
    -webkit-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -moz-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -o-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -ms-transform: scale(0.1) translate3d(1000px, -500px, 0);
    transform: scale(0.1) translate3d(1000px, -500px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes enter {
  0% {
    -webkit-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -moz-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -o-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -ms-transform: scale(0.1) translate3d(1000px, -500px, 0);
    transform: scale(0.1) translate3d(1000px, -500px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes enter {
  0% {
    -webkit-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -moz-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -o-transform: scale(0.1) translate3d(1000px, -500px, 0);
    -ms-transform: scale(0.1) translate3d(1000px, -500px, 0);
    transform: scale(0.1) translate3d(1000px, -500px, 0);
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
  100% {
    -webkit-transform: scale(1) translate3d(0, 0, 0);
    -moz-transform: scale(1) translate3d(0, 0, 0);
    -o-transform: scale(1) translate3d(0, 0, 0);
    -ms-transform: scale(1) translate3d(0, 0, 0);
    transform: scale(1) translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-moz-keyframes hand-wave {
  0% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@-webkit-keyframes hand-wave {
  0% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@-o-keyframes hand-wave {
  0% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@keyframes hand-wave {
  0% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
  50% {
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    transform: rotate(-25deg);
  }
  100% {
    -webkit-transform: rotate(25deg);
    -moz-transform: rotate(25deg);
    -o-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg);
  }
}
@-moz-keyframes head-wave {
  0% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@-webkit-keyframes head-wave {
  0% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@-o-keyframes head-wave {
  0% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@keyframes head-wave {
  0% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -10px, 0);
    -moz-transform: translate3d(0, -10px, 0);
    -o-transform: translate3d(0, -10px, 0);
    -ms-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 10px, 0);
    -moz-transform: translate3d(0, 10px, 0);
    -o-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
@-moz-keyframes prepare-2-jump {
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes prepare-2-jump {
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes prepare-2-jump {
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes prepare-2-jump {
  50% {
    -webkit-transform: translate3d(0, 20px, 0);
    -moz-transform: translate3d(0, 20px, 0);
    -o-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes jump {
  10% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-18deg);
    transform: translate3d(0, -20px, 0) rotate(-18deg);
  }
  20% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -moz-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -o-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -ms-transform: translate3d(0, -40px, 0) rotate(-36deg);
    transform: translate3d(0, -40px, 0) rotate(-36deg);
  }
  30% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-54deg);
    transform: translate3d(0, -20px, 0) rotate(-54deg);
  }
  40% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-72deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-72deg);
    -o-transform: translate3d(0, 0, 0) rotate(-72deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-72deg);
    transform: translate3d(0, 0, 0) rotate(-72deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-90deg);
    transform: translate3d(0, 0px, 0) rotate(-90deg);
  }
  60% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-108deg);
    transform: translate3d(0, 0px, 0) rotate(-108deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-126deg);
    transform: translate3d(0, 0px, 0) rotate(-126deg);
  }
  80% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-144deg);
    transform: translate3d(0, 0px, 0) rotate(-144deg);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-162deg);
    transform: translate3d(0, 0px, 0) rotate(-162deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-180deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-180deg);
    -o-transform: translate3d(0, 0, 0) rotate(-180deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-180deg);
    transform: translate3d(0, 0, 0) rotate(-180deg);
  }
}
@-webkit-keyframes jump {
  10% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-18deg);
    transform: translate3d(0, -20px, 0) rotate(-18deg);
  }
  20% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -moz-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -o-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -ms-transform: translate3d(0, -40px, 0) rotate(-36deg);
    transform: translate3d(0, -40px, 0) rotate(-36deg);
  }
  30% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-54deg);
    transform: translate3d(0, -20px, 0) rotate(-54deg);
  }
  40% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-72deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-72deg);
    -o-transform: translate3d(0, 0, 0) rotate(-72deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-72deg);
    transform: translate3d(0, 0, 0) rotate(-72deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-90deg);
    transform: translate3d(0, 0px, 0) rotate(-90deg);
  }
  60% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-108deg);
    transform: translate3d(0, 0px, 0) rotate(-108deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-126deg);
    transform: translate3d(0, 0px, 0) rotate(-126deg);
  }
  80% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-144deg);
    transform: translate3d(0, 0px, 0) rotate(-144deg);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-162deg);
    transform: translate3d(0, 0px, 0) rotate(-162deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-180deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-180deg);
    -o-transform: translate3d(0, 0, 0) rotate(-180deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-180deg);
    transform: translate3d(0, 0, 0) rotate(-180deg);
  }
}
@-o-keyframes jump {
  10% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-18deg);
    transform: translate3d(0, -20px, 0) rotate(-18deg);
  }
  20% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -moz-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -o-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -ms-transform: translate3d(0, -40px, 0) rotate(-36deg);
    transform: translate3d(0, -40px, 0) rotate(-36deg);
  }
  30% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-54deg);
    transform: translate3d(0, -20px, 0) rotate(-54deg);
  }
  40% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-72deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-72deg);
    -o-transform: translate3d(0, 0, 0) rotate(-72deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-72deg);
    transform: translate3d(0, 0, 0) rotate(-72deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-90deg);
    transform: translate3d(0, 0px, 0) rotate(-90deg);
  }
  60% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-108deg);
    transform: translate3d(0, 0px, 0) rotate(-108deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-126deg);
    transform: translate3d(0, 0px, 0) rotate(-126deg);
  }
  80% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-144deg);
    transform: translate3d(0, 0px, 0) rotate(-144deg);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-162deg);
    transform: translate3d(0, 0px, 0) rotate(-162deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-180deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-180deg);
    -o-transform: translate3d(0, 0, 0) rotate(-180deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-180deg);
    transform: translate3d(0, 0, 0) rotate(-180deg);
  }
}
@keyframes jump {
  10% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-18deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-18deg);
    transform: translate3d(0, -20px, 0) rotate(-18deg);
  }
  20% {
    -webkit-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -moz-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -o-transform: translate3d(0, -40px, 0) rotate(-36deg);
    -ms-transform: translate3d(0, -40px, 0) rotate(-36deg);
    transform: translate3d(0, -40px, 0) rotate(-36deg);
  }
  30% {
    -webkit-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -moz-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -o-transform: translate3d(0, -20px, 0) rotate(-54deg);
    -ms-transform: translate3d(0, -20px, 0) rotate(-54deg);
    transform: translate3d(0, -20px, 0) rotate(-54deg);
  }
  40% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-72deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-72deg);
    -o-transform: translate3d(0, 0, 0) rotate(-72deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-72deg);
    transform: translate3d(0, 0, 0) rotate(-72deg);
  }
  50% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-90deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-90deg);
    transform: translate3d(0, 0px, 0) rotate(-90deg);
  }
  60% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-108deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-108deg);
    transform: translate3d(0, 0px, 0) rotate(-108deg);
  }
  70% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-126deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-126deg);
    transform: translate3d(0, 0px, 0) rotate(-126deg);
  }
  80% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-144deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-144deg);
    transform: translate3d(0, 0px, 0) rotate(-144deg);
  }
  90% {
    -webkit-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -moz-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -o-transform: translate3d(0, 0px, 0) rotate(-162deg);
    -ms-transform: translate3d(0, 0px, 0) rotate(-162deg);
    transform: translate3d(0, 0px, 0) rotate(-162deg);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0) rotate(-180deg);
    -moz-transform: translate3d(0, 0, 0) rotate(-180deg);
    -o-transform: translate3d(0, 0, 0) rotate(-180deg);
    -ms-transform: translate3d(0, 0, 0) rotate(-180deg);
    transform: translate3d(0, 0, 0) rotate(-180deg);
  }
}
@-moz-keyframes fly-up {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
  50% {
    -webkit-transform: translate3d(0, -500px, 0);
    -moz-transform: translate3d(0, -500px, 0);
    -o-transform: translate3d(0, -500px, 0);
    -ms-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translate3d(0, -1000px, 0);
    -moz-transform: translate3d(0, -1000px, 0);
    -o-transform: translate3d(0, -1000px, 0);
    -ms-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
}
@-webkit-keyframes fly-up {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
  50% {
    -webkit-transform: translate3d(0, -500px, 0);
    -moz-transform: translate3d(0, -500px, 0);
    -o-transform: translate3d(0, -500px, 0);
    -ms-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translate3d(0, -1000px, 0);
    -moz-transform: translate3d(0, -1000px, 0);
    -o-transform: translate3d(0, -1000px, 0);
    -ms-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
}
@-o-keyframes fly-up {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
  50% {
    -webkit-transform: translate3d(0, -500px, 0);
    -moz-transform: translate3d(0, -500px, 0);
    -o-transform: translate3d(0, -500px, 0);
    -ms-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translate3d(0, -1000px, 0);
    -moz-transform: translate3d(0, -1000px, 0);
    -o-transform: translate3d(0, -1000px, 0);
    -ms-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
}
@keyframes fly-up {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
  50% {
    -webkit-transform: translate3d(0, -500px, 0);
    -moz-transform: translate3d(0, -500px, 0);
    -o-transform: translate3d(0, -500px, 0);
    -ms-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: translate3d(0, -1000px, 0);
    -moz-transform: translate3d(0, -1000px, 0);
    -o-transform: translate3d(0, -1000px, 0);
    -ms-transform: translate3d(0, -1000px, 0);
    transform: translate3d(0, -1000px, 0);
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
  }
}
@-moz-keyframes hide {
  0% {
    -webkit-transform: rotate(-180deg) scale(1);
    -moz-transform: rotate(-180deg) scale(1);
    -o-transform: rotate(-180deg) scale(1);
    -ms-transform: rotate(-180deg) scale(1);
    transform: rotate(-180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-1180deg) scale(0);
    -moz-transform: rotate(-1180deg) scale(0);
    -o-transform: rotate(-1180deg) scale(0);
    -ms-transform: rotate(-1180deg) scale(0);
    transform: rotate(-1180deg) scale(0);
  }
}
@-webkit-keyframes hide {
  0% {
    -webkit-transform: rotate(-180deg) scale(1);
    -moz-transform: rotate(-180deg) scale(1);
    -o-transform: rotate(-180deg) scale(1);
    -ms-transform: rotate(-180deg) scale(1);
    transform: rotate(-180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-1180deg) scale(0);
    -moz-transform: rotate(-1180deg) scale(0);
    -o-transform: rotate(-1180deg) scale(0);
    -ms-transform: rotate(-1180deg) scale(0);
    transform: rotate(-1180deg) scale(0);
  }
}
@-o-keyframes hide {
  0% {
    -webkit-transform: rotate(-180deg) scale(1);
    -moz-transform: rotate(-180deg) scale(1);
    -o-transform: rotate(-180deg) scale(1);
    -ms-transform: rotate(-180deg) scale(1);
    transform: rotate(-180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-1180deg) scale(0);
    -moz-transform: rotate(-1180deg) scale(0);
    -o-transform: rotate(-1180deg) scale(0);
    -ms-transform: rotate(-1180deg) scale(0);
    transform: rotate(-1180deg) scale(0);
  }
}
@keyframes hide {
  0% {
    -webkit-transform: rotate(-180deg) scale(1);
    -moz-transform: rotate(-180deg) scale(1);
    -o-transform: rotate(-180deg) scale(1);
    -ms-transform: rotate(-180deg) scale(1);
    transform: rotate(-180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(-1180deg) scale(0);
    -moz-transform: rotate(-1180deg) scale(0);
    -o-transform: rotate(-1180deg) scale(0);
    -ms-transform: rotate(-1180deg) scale(0);
    transform: rotate(-1180deg) scale(0);
  }
}
@-moz-keyframes textenter {
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-webkit-keyframes textenter {
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@-o-keyframes textenter {
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
@keyframes textenter {
  100% {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.action {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  width: 500px;
  height: 700px;
  position: absolute;
  left: 50%;
  -webkit-transition: all 3s;
  -moz-transition: all 3s;
  -o-transition: all 3s;
  -ms-transition: all 3s;
  transition: all 3s;
  z-index: 1;
  opacity: 1;
  -ms-filter: none;
  filter: none;
}
.action div {
  display: inline-block;
  position: absolute;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  -ms-transition: all 0.35s;
  transition: all 0.35s;
}
.action div.googles {
  border: none;
}
.action div.shnorhel {
  top: 60px;
  margin-left: -20px;
}
.action div.plavnik {
  top: 350px;
  margin-left: -60px;
}
.action div.arm-1 {
  top: 220px;
  margin-left: -100px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.action div.arm-2 {
  top: 220px;
  margin-left: -150px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.action div.hand {
  top: 150px;
  margin-left: -210px;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.bg-action {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform: translate3d(0, 1000px, 0);
  -moz-transform: translate3d(0, 1000px, 0);
  -o-transform: translate3d(0, 1000px, 0);
  -ms-transform: translate3d(0, 1000px, 0);
  transform: translate3d(0, 1000px, 0);
}
.bg-action div {
  display: inline-block;
  position: absolute;
}
.bg-action div.snow-1 {
  margin-left: 0;
}
.bg-action div.snow-2 {
  margin-left: 50%;
}
.bg-action div.beer-1 {
  margin-left: 25%;
  margin-top: 10%;
}
.bg-action div.beer-2 {
  margin-left: 75%;
  margin-top: 10%;
}
.bg-action div.snow-3 {
  margin-left: 25%;
  margin-top: 50%;
}
.bg-action div.snow-4 {
  margin-left: 75%;
  margin-top: 50%;
}
.bg-action div.beer-5 {
  margin-left: 0%;
  margin-top: 60%;
}
.bg-action div.beer-6 {
  margin-left: 50%;
  margin-top: 60%;
}
.text {
  margin: 0 auto;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: all 2.35s;
  -moz-transition: all 2.35s;
  -o-transition: all 2.35s;
  -ms-transition: all 2.35s;
  transition: all 2.35s;
  position: relative;
}
.text svg {
  display: block;
  margin: 0 auto;
}
.text h1 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 140px;
  line-height: 140px;
  font-family: 'Oswald';
  color: #f00;
}
body {
  background: #f4f4f4;
  font-size: 16px;
  overflow-y: hidden;
}
body.animation-1 .action {
  -webkit-animation: enter 5s ease-in-out;
  -moz-animation: enter 5s ease-in-out;
  -o-animation: enter 5s ease-in-out;
  -ms-animation: enter 5s ease-in-out;
  animation: enter 5s ease-in-out;
}
body.animation-2 .googles {
  -webkit-animation: head-wave 2s infinite;
  -moz-animation: head-wave 2s infinite;
  -o-animation: head-wave 2s infinite;
  -ms-animation: head-wave 2s infinite;
  animation: head-wave 2s infinite;
}
body.animation-2 .hand {
  -webkit-animation: hand-wave 1s infinite;
  -moz-animation: hand-wave 1s infinite;
  -o-animation: hand-wave 1s infinite;
  -ms-animation: hand-wave 1s infinite;
  animation: hand-wave 1s infinite;
}
body.animation-3 .googles,
body.animation-3 .shnorhel,
body.animation-3 .arm-1,
body.animation-3 .arm-2,
body.animation-3 .hand {
  -webkit-animation: prepare-2-jump 3s ease-in-out;
  -moz-animation: prepare-2-jump 3s ease-in-out;
  -o-animation: prepare-2-jump 3s ease-in-out;
  -ms-animation: prepare-2-jump 3s ease-in-out;
  animation: prepare-2-jump 3s ease-in-out;
}
body.animation-3 .action {
  -webkit-animation: prepare-2-jump 3s ease-in-out;
  -moz-animation: prepare-2-jump 3s ease-in-out;
  -o-animation: prepare-2-jump 3s ease-in-out;
  -ms-animation: prepare-2-jump 3s ease-in-out;
  animation: prepare-2-jump 3s ease-in-out;
}
body.animation-4 .action {
  -webkit-animation: jump 3s ease-in;
  -moz-animation: jump 3s ease-in;
  -o-animation: jump 3s ease-in;
  -ms-animation: jump 3s ease-in;
  animation: jump 3s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
body.animation-5 .action {
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
body.animation-5 .hand,
body.animation-5 .plavnik {
  -webkit-animation: hand-wave 2s infinite;
  -moz-animation: hand-wave 2s infinite;
  -o-animation: hand-wave 2s infinite;
  -ms-animation: hand-wave 2s infinite;
  animation: hand-wave 2s infinite;
}
body.animation-6 .bg-action {
  -webkit-animation: fly-up 2s ease-in-out infinite;
  -moz-animation: fly-up 2s ease-in-out infinite;
  -o-animation: fly-up 2s ease-in-out infinite;
  -ms-animation: fly-up 2s ease-in-out infinite;
  animation: fly-up 2s ease-in-out infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
}
body.animation-7 .action {
  -webkit-animation: hide 3s ease-in;
  -moz-animation: hide 3s ease-in;
  -o-animation: hide 3s ease-in;
  -ms-animation: hide 3s ease-in;
  animation: hide 3s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
body.animation-8 .text {
  -webkit-animation: textenter 3s ease-in;
  -moz-animation: textenter 3s ease-in;
  -o-animation: textenter 3s ease-in;
  -ms-animation: textenter 3s ease-in;
  animation: textenter 3s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
body.animation-8 .action,
body.animation-8 .bg-action {
  display: none;
}
